In [38]:
# pero antes....librerias!!!
# nuestras librerias a utilizar
import pandas as pd
import numpy as np


# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [39]:
df = pd.read_csv("archivos/world_data_full.csv",index_col = 0)

1:Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [40]:
df.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,"94,635,415,870",113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   country                               195 non-null    object
 1   density                               195 non-null    object
 2   abbreviation                          188 non-null    object
 3   agricultural_land                     188 non-null    float64
 4   land_area                             194 non-null    object
 5   armed_forces_size                     171 non-null    object
 6   birth_rate                            189 non-null    float64
 7   calling_code                          194 non-null    float64
 8   capital/major_city                    192 non-null    object
 9   co2-emissions                         188 non-null    object
 10  cpi                                   178 non-null    object
 11  cpi_change                            179 non-null    float64
 12  currency-code                         180 non-null    object
 13  fertility_rate                        188 non-null    float64
 14  forested_area                         188 non-null    float64
 15  gasoline_price                        175 non-null    float64
 16  gdp                                   193 non-null    object
 17  gross_primary_education_enrollment    188 non-null    float64
 18  gross_tertiary_education_enrollment   183 non-null    float64
 19  infant_mortality                      189 non-null    float64
 20  largest_city                          189 non-null    object
 21  life_expectancy                       187 non-null    float64
 22  maternal_mortality_ratio              181 non-null    float64
 23  minimum_wage                          150 non-null    float64
 24  official_language                     190 non-null    object
 25  out_of_pocket_health_expenditure      188 non-null    float64
 26  physicians_per_thousand               188 non-null    float64
 27  population                            194 non-null    object
 28  population_labor_force_participation  176 non-null    float64
 29  tax_revenue                           169 non-null    float64
 30  total_tax_rate                        183 non-null    float64
 31  unemployment_rate                     176 non-null    float64
 32  urban_population                      190 non-null    object
 33  latitude                              195 non-null    object
 34  longitude                             195 non-null    object
dtypes: float64(19), object(16)
memory usage: 54.8+ KB

In [41]:
def convert_to_numeric(datos):
   try:
      return float(datos.replace("," , ""))
   except:
      return (np.nan)

In [42]:
valor = "652,230"

In [43]:
convert_to_numeric(valor)

652230.0

In [44]:
columnas = ["land_area", "armed_forces_size", "co2-emissions", "gdp", "population", "urban_population", "latitude", "longitude", "density", "cpi"]

In [45]:
df["land_area"].apply(convert_to_numeric)

0       652230.0
1        28748.0
2      2381741.0
3          468.0
4      1246700.0
         ...
190     912050.0
191     331210.0
192     527968.0
193     752618.0
194     390757.0
Name: land_area, Length: 195, dtype: float64

In [46]:
for columna in columnas:
    df[columna] =df[columna ].apply(convert_to_numeric)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   country                               195 non-null    object
 1   density                               195 non-null    float64
 2   abbreviation                          188 non-null    object
 3   agricultural_land                     188 non-null    float64
 4   land_area                             194 non-null    float64
 5   armed_forces_size                     171 non-null    float64
 6   birth_rate                            189 non-null    float64
 7   calling_code                          194 non-null    float64
 8   capital/major_city                    192 non-null    object
 9   co2-emissions                         188 non-null    float64
 10  cpi                                   178 non-null    float64
 11  cpi_change                            179 non-null    float64
 12  currency-code                         180 non-null    object
 13  fertility_rate                        188 non-null    float64
 14  forested_area                         188 non-null    float64
 15  gasoline_price                        175 non-null    float64
 16  gdp                                   193 non-null    float64
 17  gross_primary_education_enrollment    188 non-null    float64
 18  gross_tertiary_education_enrollment   183 non-null    float64
 19  infant_mortality                      189 non-null    float64
 20  largest_city                          189 non-null    object
 21  life_expectancy                       187 non-null    float64
 22  maternal_mortality_ratio              181 non-null    float64
 23  minimum_wage                          150 non-null    float64
 24  official_language                     190 non-null    object
 25  out_of_pocket_health_expenditure      188 non-null    float64
 26  physicians_per_thousand               188 non-null    float64
 27  population                            194 non-null    float64
 28  population_labor_force_participation  176 non-null    float64
 29  tax_revenue                           169 non-null    float64
 30  total_tax_rate                        183 non-null    float64
 31  unemployment_rate                     176 non-null    float64
 32  urban_population                      190 non-null    float64
 33  latitude                              194 non-null    float64
 34  longitude                             194 non-null    float64
dtypes: float64(29), object(6)
memory usage: 54.8+ KB


2:Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [ ]:
#LOS PAISES CON SUS CONTINENTES:
Afghanistan: Asia
Albania: Europa
Algeria: África
Andorra: Europa
Angola: África
Antigua and Barbuda: América del Norte
Argentina: América del Sur
Armenia: Asia
Australia: Oceanía
Austria: Europa
Azerbaijan: Asia
The Bahamas: América del Norte
Bahrain: Asia
Bangladesh: Asia
Barbados: América del Norte
Belarus: Europa
Belgium: Europa
Belize: América del Norte
Benin: África
Bhutan: Asia
Bolivia: América del Sur
Bosnia and Herzegovina: Europa
Botswana: África
Brazil: América del Sur
Brunei: Asia
Bulgaria: Europa
Burkina Faso: África
Burundi: África
Ivory Coast (Côte d'Ivoire): África
Cape Verde: África
Cambodia: Asia
Cameroon: África
Canada: América del Norte
Central African Republic: África
Chad: África
Chile: América del Sur
China: Asia
Colombia: América del Sur
Comoros: África
Republic of the Congo: África
Costa Rica: América del Norte
Croatia: Europa
Cuba: América del Norte
Cyprus: Asia
Czech Republic: Europa
Democratic Republic of the Congo: África
Denmark: Europa
Djibouti: África
Dominica: América del Norte
Dominican Republic: América del Norte
Ecuador: América del Sur
Egypt: África
El Salvador: América del Norte
Equatorial Guinea: África
Eritrea: África
Estonia: Europa
Eswatini: África
Ethiopia: África
Fiji: Oceanía
Finland: Europa
France: Europa
Gabon: África
The Gambia: África
Georgia: Asia
Germany: Europa
Ghana: África
Greece: Europa
Grenada: América del Norte
Guatemala: América del Norte
Guinea: África
Guinea-Bissau: África
Guyana: América del Sur
Haiti: América del Norte
Vatican City: Europa
Honduras: América del Norte
Hungary: Europa
Iceland: Europa
India: Asia
Indonesia: Asia
Iran: Asia
Iraq: Asia
Republic of Ireland: Europa
Israel: Asia
Italy: Europa
Jamaica: América del Norte
Japan: Asia
Jordan: Asia
Kazakhstan: Asia
Kenya: África
Kiribati: Oceanía
Kuwait: Asia
Kyrgyzstan: Asia
Laos: Asia
Latvia: Europa
Lebanon: Asia
Lesotho: África
Liberia: África
Libya: África
Liechtenstein: Europa
Lithuania: Europa
Luxembourg: Europa
Madagascar: África
Malawi: África
Malaysia: Asia
Maldives: Asia
Mali: África
Malta: Europa
Marshall Islands: Oceanía
Mauritania: África
Mauritius: África
Mexico: América del Norte
Federated States of Micronesia: Oceanía
Moldova: Europa
Monaco: Europa
Mongolia: Asia
Montenegro: Europa
Morocco: África
Mozambique: África
Myanmar: Asia
Namibia: África
Nauru: Oceanía
Nepal: Asia
Netherlands: Europa
New Zealand: Oceanía
Nicaragua: América del Norte
Niger: África
Nigeria: África
North Korea: Asia
North Macedonia: Europa
Norway: Europa
Oman: Asia
Pakistan: Asia
Palau: Oceanía
Palestinian National Authority: Asia
Panama: América del Norte
Papua New Guinea: Oceanía
Paraguay: América del Sur
Peru: América del Sur
Philippines: Asia
Poland: Europa
Portugal: Europa
Qatar: Asia
Romania: Europa
Russia: Europa (parte de Rusia también está en Asia)
Rwanda: África
Saint Kitts and Nevis: América del Norte
Saint Lucia: América del Norte
Saint Vincent and the Grenadines: América del Norte
Samoa: Oceanía
San Marino: Europa
Saudi Arabia: Asia
Senegal: África
Serbia: Europa
Seychelles: África
Sierra Leone: África
Singapore: Asia
Slovakia: Europa
Slovenia: Europa
Solomon Islands: Oceanía
Somalia: África
South Africa: África
South Korea: Asia
South Sudan: África
Spain: Europa
Sri Lanka: Asia
Sudan: África
Suriname: América del Sur
Sweden: Europa
Switzerland: Europa
Syria: Asia
Tajikistan: Asia
Tanzania: África
Thailand: Asia
East Timor: Asia
Togo: África
Tonga: Oceanía
Trinidad and Tobago: América del Norte
Tunisia: África
Turkey: Asia
Turkmenistan: Asia
Tuvalu: Oceanía
Uganda: África
Ukraine: Europa
United Arab Emirates: Asia
United Kingdom: Europa
United States: América del Norte
Uruguay: América del Sur
Uzbekistan: Asia
Vanuatu: Oceanía
Venezuela: América del Sur
Vietnam: Asia
Yemen: Asia
Zambia: África
Zimbabwe: África

In [50]:
list (df ["country"])

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'The Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Ivory Coast',
 'Cape Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Republic of the Congo',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'The Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Vatican City',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Republic of Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Federated States of Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestinian National Authority',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'S�����������',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'East Timor',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']